<!-- <h2 class="mt-3" id="active-menu-items">
  <div>Message List</div>
</h2> -->
<div style="margin-top: 15px;"></div>
<div class="table-responsive scrollmenu" style="max-height: 600px" *ngIf='headerList'>
    <table  class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <!-- <th scope="col" class="text-center" style="padding-top: 1px; padding-bottom: 1px;">
            <label for="allckb" style="line-height: 12px;margin-bottom:0px;display: block;"
              (click)="selectForSync(allCheckBoxObj, 'all')">Select All</label>
            <input id="allckb" type="checkbox" [(ngModel)]="allCheckBoxObj.checked"
              (change)="selectForSync(allCheckBoxObj, 'all')" aria-label="Checkbox for following text input">
          </th> -->
          <th scope="col" class="text-center">View</th>
          <th scope="col" *ngFor="let headerItem of headerList">{{headerItem|removeUnderscore}}</th>
        </tr>
      </thead>
      <tbody style="max-height: 650px">
        <tr *ngFor="let dataItem of dataList; let i=index;">
          <!-- <td scope="row" class="text-center">
            <input type="checkbox" [(ngModel)]="dataItem.checked" (change)="selectForSync(dataItem, i)"
              aria-label="Checkbox for following text input">
          </td> -->
          <td class="text-center">
            <button class="btn btn-primary btn-sm"
              routerLink="/messagedetails/{{dataItem.dataModel[0]}}">Details</button>
          </td>
          <td *ngFor="let colItem of dataItem.dataModel; let colIndex = index;">{{colItem}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive" *ngIf="headerList==''">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="text-center">No Record Found</th>
          </tr>
        </thead>
      </table>
    </div>
  <!-- <div class="row">
    <div class="col">
      <button class="btn btn-sm btn-primary float-right" (click)="syncData()">Sync</button>
    </div>
  </div> -->
  <div class="d-flex justify-content-center" style="margin-top: 20%" *ngIf='headerList==null'>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
