<div class="row">
  <div class="col">
    <h2 class="mt-3" id="active-menu-items">
      <div class="float-left">Profile Details</div>
      <button class="btn btn-sm btn-primary float-right" routerLink="/profilelist">Back</button>
    </h2>
  </div>
</div>

<div class="w-100 mb-2"></div>

<form class="w-100">

    <div class="row" *ngIf="linearItemsReservationData">
      <div class="col-6" *ngFor="let lineatData of linearItemsReservationData;let i=index;">
        <div class="form-group">
          <label for="exampleInputEmail_{{i}}">{{lineatData.field_name|removeUnderscore}}</label>
          <input type="email" class="form-control" [ngClass]="{'blocked':i==0}" id="exampleInputEmail_{{i}}" name="{{lineatData.field_name}}" 
            placeholder="{{lineatData.field_name|removeUnderscore}}" [(ngModel)]="lineatData.value">
        </div> 
      </div>
    </div>
    <div class="row" *ngIf="listValReservationData">
      <div class="col-12" *ngFor="let listData of listValReservationData;let j=index;">
        <div class="form-group">
          <label for="exampleInputEmail2_{{j}}">{{listData.param_type|removeUnderscore}}</label>
          <div class="form-row" *ngFor="let listChildData of listData.values;let k=index;">
            <div class="col-6" *ngFor="let listfildData of listChildData.linear_items;let l=index;">
              <label for="exampleInputEmail1{{k}}{{l}}">{{listfildData.field_name|removeUnderscore}}</label>
              <input type="text" class="form-control" [ngClass]="{'blocked':l==0}" id="exampleInputEmail1{{k}}{{l}}" name="{{listfildData.field_name}}{{k}}{{l}}" aria-describedby="emailHelp"
                placeholder="{{listfildData.field_name|removeUnderscore}}" [(ngModel)]="listfildData.value">
            </div>
            
          </div>
        </div> 
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-primary float-right ml-2" (click)="updateProfile();">Submit</button>
    <!-- <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#myModal">Delete</button> -->
  
  </form>
  
<!-- <div class="table-responsive" *ngIf='!detailReservationData'>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="text-center">No Record Found</th>
      </tr>
    </thead>
  </table>
</div> -->
<app-custom-dialog (dialogChangeEmitter)=dialogResponse($event)></app-custom-dialog>
<div id="snackbar">Saved successfully.</div>
<div id="snackbarfail">Save failed</div>