<nav class="navbar fixed-top flex-md-nowrap shadow" style="height: 46px;padding: 2px 10px 6px;background: #006ac5;">
  <a class="col-sm-6 col-md-4 mr-auto" href="#" style="color: #fff;font-size: 20px;text-decoration: none;">
    {{hotelName | uppercase}}
  </a>


  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#" style="color: #fff;">
        <!-- <img src="../assets/> -->
        LOGO
      </a>
    </li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-none d-md-block bg-light sidebar oxi-sidemenu">
      <div class="sidebar-sticky" style="margin-top: 7px;">
        <ul class="nav flex-column">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/reservationlist">
              Reservation Management
            </a>
            <a class="d-none" routerLink="/reservationdetails"></a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLink="/stayrecordlist">
            <a class="nav-link">
              Stay Records History
            </a>
            <a class="d-none" routerLink="/stayrecorddetails"></a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLink="/profilelist">
            <a class="nav-link">
              Profile Management
            </a>
            <a class="d-none" routerLink="/profiledetails"></a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLink="/groupblocklist">
            <a class="nav-link">
              Manage Group Block
            </a>
            <a class="d-none" routerLink="/groupblockdetails"></a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLink="/messagelist">
            <a class="nav-link">
              Messaging system
            </a>
            <a class="d-none" routerLink="/messagedetails"></a>
          </li>
          <li class="nav-item" routerLinkActive="active" routerLink="/configurationlist">
            <a class="nav-link">
              Configuration Management
            </a>
            <a class="d-none" routerLink="/configurationdetails"></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="col" style="padding-top: 40px;overflow-y: scroll">
      <router-outlet></router-outlet>
    </div>


  </div> <!-- /.row -->
</div> <!-- /.container-fluid -->
