.oxi-sidemenu {
  padding: 48px 0px 0px 0px;

  ul li {
    border-bottom: 1px solid #f0f4f7;
    outline: none;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid #f0f4f7;
    }

    a {
      color: #93a3b5;
      font-size: 14px;
      font-weight: 400;

      i {
        margin-right: 8px;
        font-size: 14px;
      }

      &:hover {
        color: #0000ff;
        background-color: #d8ebff;
        border-left: 2px solid #0000ff;
      }
    }

    &.active {
      outline: none;
      cursor: text;

      a {
        color: #0000ff;
        background-color: #d8ebff;
        border-left: 2px solid #0000ff;
      }
    }
  }
}
