<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="modal-title">Confirm</h3>
        <button type="button" class="close" data-dismiss="modal" (click)="modelOperation('false');">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body text-center">
        Do You Want to Delete ?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary mr-4" data-dismiss="modal" (click)="modelOperation('false');">No</button>
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" (click)="modelOperation('true');">Yes</button>
      </div>

    </div>
  </div>
</div>